$gardenSize: 15;

.garden {
  display: grid;

  grid-template-columns: repeat($gardenSize, 1fr);
  margin: 5px;
}

.garden-row {

}

.garden-tile {
  border: 1px;
  border-style: solid;
  border-color: black;
  position: relative;
}

.garden-tile:before{
  content: ' ';
  display: block;
  width: 100%;
  padding-top: 100%;
}

.garden-tile-content {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.flower-1 {
  background-image: url("/assets/flower-1.png");
  background-size: contain;
}

.flower-2 {
  background-image: url("/assets/flower-2.png");
  background-size: contain;
}

.flower-3 {
  background-image: url("/assets/flower-3.png");
  background-size: contain;
}

.withering {
  opacity: 0.5;
}