$gardenSize: 20;

.garden {
  display: grid;

  grid-template-columns: repeat($gardenSize, 1fr);
}

.garden-row {

}

.garden-tile {
  border: 1px;
  border-style: solid;
  border-color: black;
  position: relative;
}

.garden-tile:before{
  content: ' ';
  display: block;
  width: 100%;
  padding-top: 100%;
}

.garden-tile-content {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.flower-1 {
  background-color: rgb(216, 87, 162);
}

.flower-2 {
  background-color: rgb(252, 202, 95);
}

.flower-3 {
  background-color: rgb(92, 176, 245);
}